<%= form_for(@post, html: { multipart: true}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <h4>Title</h4>
  <div class="field">
    <%= f.text_area :title, placeholder: "Title..." %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new post..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
