<% provide(:title, @post.title) %>

<div style="margin-bottom:10px">
<%= image_tag 'blogheader.png', :class => "img-responsive center-block" %>
</div>
<div class="container">
<div class="col-md-8" style="border-top: 1px solid #e8e8e8;">
  <div class="posts">
    <%= link_to gravatar_for(post.user, size: 50), post.user %>
    <span class="title"><%= @post.title %></span>
    <span class="user">By <%= @post.user.name %></span>
    <p class="img-responsive center-block">
      <%= markdown(@post.content) %>
    </p>
    <span class="timestamp">
      Posted <%= time_ago_in_words(@post.created_at) %> ago.
      <% if current_user?(@post.user) %>
      <%= link_to "delete", @post, method: :delete,
                                  data: { confirm: "You sure?" } %>
    <% end %>
    </span>
  </div>
</div>
</div>
